body {
    background-color: #032749;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.calculator {
    width: 300px;
    border-radius: 10px;
    box-shadow:  0px 0px 1rem black;
    font-family: arial,sans-serif;
}

.result {
    border: grey 1px solid ;
    background-color: #fdfdfd;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 10px 10px 0;
    color: black;
    font-size: 40px;
    border-radius: 10px 10px 0 0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: repeat(5, 55px);
}

button {
    border: 0.5px solid grey;
}

button:hover {
    background-color: rgb(160, 157, 157);
}

.cleanButton {
    grid-column-start: 1;
    grid-column-end: 4;
}

.zero {
    grid-column-start: 1;
    grid-column-end: 3;
   border-radius: 0 0 0px 10px;
}

.operator {
    background-color: orange;
}

.operator:hover {
    background-color: rgb(221, 146, 8);
}

.operatorResult {
    border-radius: 0 0 10px 0;
}
